body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: honeydew;
    margin: 0; /* Asegúrate de que no haya márgenes alrededor del body */
}

header {
    height: 60px;
    background-color: #261957;
    color: #fff;
    padding: 10px;
  }

  .cabeza {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  #logo{
    width: 200px;
  }

h2 {
    text-align: center;
}

/* Estilos generales para el contenedor principal */
.main-container {
    display: flex;
    gap: 20px;
    padding: 20px;
}

/* Estilos para la sección de productos */
.productos-section {
    flex: 2;
}

/* Estilos para la sección del formulario */
.form-section {
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-section form div {
    margin-bottom: 15px;
}

.form-section form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-section form input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-section form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-section form button:hover {
    background-color: #45a049;
}

/* Estilos generales para el contenedor de productos */
#productosContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

/* Estilos para cada producto */
.producto {
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 16px;
    width: 200px;
    text-align: center;
    background-color: #fff;
    transition: transform 0.3s;
}

.producto:hover {
    transform: scale(1.05);
}

/* Estilos para la imagen del producto */
.producto-imagen {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #eee;
    margin-bottom: 12px;
}

/* Estilos para el nombre del producto */
.producto-nombre {
    font-size: 1.2em;
    margin: 12px 0;
}

/* Estilos para el precio del producto */
.producto-precio {
    color: #e91e63;
    font-size: 1.1em;
    margin: 8px 0;
}

/* Estilos para la descripción del producto */
.producto-descripcion {
    font-size: 0.9em;
    color: #555;
}

#pie {
    width: auto;
    height: 180px;
    background-color: #261957;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
